<div class="banner">
  <div class="banner-content">
    <h1>Mr. & Mr. Cocktail</h1>
    <p>Very cool stuff, useful and smart</p>
    <a href="#menu" class="btn btn-primary btn-lg">SEE THE MENU</a>
  </div>
</div>
